{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}
    <div class="h-screen flex justify-center items-center">
        <div class="text-center">
            <div {{ react_component('MyComponent', { fullName: 'Alexandre et Thibault' }) }}></div>
            <h1 class="text-3xl font-bold mb-4">nous avons réalisé ce site Portfolio</h1>
            <p class="text-xl text-gray-600">En symfony et React </p>
            <p class="text-sl text-gray-400">et tailwind évidemment </p>
        </div>
    </div>
    
{% endblock %}
