{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}
    <div class="h-screen flex justify-center items-center">
        <div class="text-center">
            <h1 class="text-3xl font-bold mb-4">Title</h1>
            <p class="text-xl text-gray-600">Subtitle</p>
            <div {{ react_component('MyComponent', { fullName: 'Alexandre' }) }}></div>
        </div>
    </div>
    
{% endblock %}
